<%- include("./partials/header") %>
    <title>Edit <%= user.name %>'s Image</title>
    </head>

    <body>
        <%- include("./partials/nav") %>
            <div class="container my-5">
                <h1>Edit <%= user.name %>'s Image</h1>
                <form action="/profile/<%= user._id %>?_method=PATCH" class="text-a w-50 mt-3" method="post">
                    <div class="form-group">
                        <label for="img" class="mb-3">Image</label>
                        <input type="text" class="form-control" id="img" name="img" placeholder="Link to image">
                    </div>
                    <button type="submit" class="btn btn-outline-dark px-4">Publish Image</button>
                </form>
            </div>
            <%- include("./partials/footer") %>
    </body>

    <style>
        @media only screen and (max-width: 600px) {
            .my-5 {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                padding-top: 5rem;
            }

            .w-50 {
                width: 100% !important;
            }
        } 
    </style>
    
    </html>