<%- include("./partials/header") %>
<title>Home Page</title>
</head>

<body>

    <%- include("./partials/nav") %>

        <div class="header-img">
            <div class="header-text text-center">
                <h1>Need a New <br><span>Friend?</span></h1>
                <a class="btn btn-outline-light" href="/animals">SAVE AN ANIMAL</a>
            </div>
        </div>

        <div class="container my-5">
            <h2>Available Animals</h2>
            <div class="row">
                <% let counter = 0 %>
                <% for (let animal of animals) { %>
                    <% if (typeof animal.adopted == "undefined" || !animal.adopted ) { counter++; %>
                    <article class="col-md-3 col-sm-12 d-flex justify-content-around my-3">
                        <div class="card w-100 px-3 py-3 animal-card">
                            <div class="mx-auto mt-3">
                                <img src="<%= animal.img %>" class="img-thumbnail rounded">
                            </div>
                            <div class="mt-3 mx-auto">
                                <h3>
                                    <%= animal.name %>, <%= animal.age %>
                                </h3>
                                <p>
                                    <%= animal.animalInfo.breed %>
                                </p>
                                <div class="text-center mb-3">
                                    <a class="btn btn-outline-dark" href="/animals/<%= animal._id %>">Learn more
                                        about <%= animal.name %></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <% if (counter == 4) {break;} } %> 
                <% } %>
            </div>
        </div>

        <div class="container my-5">
            <h2>Latest Event</h2>
            <div class="row w-100 px-2 py-4 my-4 card">
                <div class="col-md-3 overflow-hidden image-wrapper">
                    <img src="<%= events[events.length - 1]?.img || '' %>" alt="broken">
                </div>
                <div class="col-md-9">
                    <h3><%= events[events.length - 1]?.name || "" %></h3>
                    <p><%= events[events.length - 1]?.text || "" %></p>
                    <p class="user-p">
                        by <span class="user"><%= users.filter(u => u._id == events[events.length - 1]?.userId)?.[0]?.name %></span>
                    </p>
                    <% if (typeof signedIn !="undefined" && signedIn) { %> 
                        <% if (users.filter(u => u._id == events[events.length - 1].userId)[0].name == user.name) { %>
                            <a href="/events/<%= events[events.length - 1]?._id || '' %>/edit">Edit Post</a>
                        <% } %>
                    <% } %> 
                </div>
            </div>
        </div>

        <div class="container my-5">
            <h2 class="mb-3">Contact Us</h2>
            <form action="https://formspree.io/f/mqkwqlgj" method="POST">
                <div class="form-group">
                    <label for="name" class="mb-3">Full Name</label>
                    <input type="text" class="form-control" id="name" name="name"
                        placeholder="Enter your name." required>
                </div>
                <div class="form-group">
                    <label for="email" class="mb-3">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email"
                        placeholder="Enter your email." required>
                </div>
                <div class="form-group mb-4">
                    <label for="message" class="mb-3">Message</label>
                    <textarea name="message" id="message" class="form-control" rows="3" 
                    placeholder="Enter your message."></textarea>
                </div>
                <button type="submit" class="btn btn-outline-dark px-4">Submit</button>
            </form>
        </div>

    <%- include("./partials/footer") %>

</body>

<style>
    html,
    body {
        height: 100%;
    }

    .header-img {
        background-image: url("https://images.pexels.com/photos/1254140/pexels-photo-1254140.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
        height: 74vh;
        background-position: 90% 55%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 130vw;
        position: relative;
    }

    .header-text {
        color: white;
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translate(-70%, -50%);
        font-family: "Poppins", sans-serif;
    }

    .header-text h1 {
        font-style: italic;
        font-size: 3.8rem;
        padding-bottom: 20px;
        font-weight: 200;
    }

    .header-text h1 span {
        font-size: 5.3rem;
    }

    .header-text .btn {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .image-wrapper img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .row {
        flex-direction: row !important;
    }

    .user-p {
        position: absolute;
        bottom: 0;
    }

    .user {
        color: rgb(47, 47, 255);
        font-style: italic;
    }

    .row.card {
        margin-left: .1%;
    }

    label {
        font-size: 18px;
        margin-left: .1%;
    }

    .footer {
        bottom: auto;
    }

    @media only screen and (max-width: 600px) {
        .header-img {
            height: 100vh;
            background-size: 200vh;
            background-position: 40% 50%;
            box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
        }

        .header-text {
            left: 50%;
            top: 80%;
            transform: translate(-50%, -80%);
        }

        .header-text h1 {
            font-size: 2.8rem;
        }

        .col-md-9 {
            height: 220px;
        }

        .col-md-9 h3 {
            margin: 13px 0;
        }

        .user-p {
            margin-top: 20px;
            margin-bottom: 0 !important;
        }

    }

</style>

</html>